In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [24]:
df=pd.read_csv('diabetes.csv')

In [25]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [26]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [27]:
df.shape

(768, 9)

In [28]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [29]:
X=df.drop('Outcome',axis=1)
y=df['Outcome']

In [30]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [31]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [33]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [34]:
# Standardize the feature data
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)

In [35]:
X_train

array([[-0.85811767,  0.06488386,  0.25332145, ..., -0.51313743,
        -1.10316947, -0.27704152],
       [-0.85811767, -0.84697246,  0.66358026, ...,  0.4081093 ,
        -0.71238555,  0.84376203],
       [-1.15412006, -0.87841578,  0.04819205, ...,  1.49569224,
        -0.37742791, -1.05298243],
       ...,
       [ 0.02988949,  0.09632718,  0.04819205, ..., -0.3723914 ,
         1.96433735,  1.01619334],
       [-0.2661129 , -0.18666271,  0.25332145, ..., -0.70506383,
        -1.08260189, -0.79433546],
       [ 0.02988949, -0.37532264, -0.15693736, ...,  0.0114614 ,
        -0.01308802, -0.36325717]])

In [36]:
X_test=scaler.transform(X_test)

In [37]:
X_test

array([[-0.56211528, -1.06707571,  0.25332145, ..., -0.35959631,
        -0.72413845, -0.96676677],
       [-0.56211528,  0.22210046,  0.76614496, ..., -0.48754724,
        -0.56253608, -0.53568849],
       [-1.15412006, -0.62686921,  0.45845086, ...,  0.34413383,
        -0.69769443, -0.79433546],
       ...,
       [-1.15412006,  0.31643043,  0.45845086, ...,  0.07543687,
        -0.24226957, -1.05298243],
       [ 0.32589188,  0.47364703,  1.99692139, ...,  2.17383219,
        -0.7300149 ,  0.32646808],
       [-0.85811767, -1.53872552, -0.97745497, ..., -1.12730191,
        -0.66831218, -1.05298243]])

In [38]:
# Initialize Logistic Regression model
model=LogisticRegression()

In [39]:
# Fit the model on training data
model.fit(X_train,y_train)

LogisticRegression()

In [40]:
# Accuracy on training data
train_accuracy=model.score(X_train, y_train)
print(f"Training Accuracy:{train_accuracy*100:.2f}%")

Training Accuracy:78.01%

In [41]:
# Accuracy on testing data
test_accuracy=model.score(X_test,y_test)
print(f"Testing Accuracy:{test_accuracy*100:.2f}%")

Testing Accuracy:76.62%

In [42]:
# Function to make predictions
def predict_diabetes(input_data):
#Convert input_data to numpy array and reshape for a single instance
    input_data=np.array(input_data).reshape(1,-1)
    
#Standardize the input data using the same scaler
    input_data=scaler.transform(input_data)
    
#Make prediction
    prediction=model.predict(input_data)
    
    # Output the result
    if prediction[0] == 1:
        return"The person is likely to have diabetes."
    else:
        return"The person is unlikely to have diabetes."

In [43]:
# Example input data: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age]
new_data = [6,148,72,35,0,33.6,0.627,50]

In [44]:
# Call the function
result = predict_diabetes(new_data)
print(result)

The person is likely to have diabetes.